Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MainGame/Audio/nimue-the-lady-of-the-lake-medieval-love-ballad-5638.uasset
Content/MainGame/Audio/SpookyMusic.uasset
Content/MainGame/Blueprints/AI/Animations/Mannequin.fbm/Ch36_1001_Diffuse.png
Content/StarterContent/Maps/StarterMap_BuiltData.uasset
